@import "seattletimes";

main.interactive {
  max-width: 960px;
}

input {
		display:none;
	}

.name {
	font-size: 14px;
	font-weight: bold;
	float:right;	
}

.block {
	margin:20px auto 40px;
	width:100%;
	max-width: 500px;
	border-top:0.5px solid gray;
	padding-top:20px;
	padding-bottom:20px;
}

	.excerpt {
		background: rgb(66, 70, 72);
		color: white;
	    cursor: pointer;
	    transition: 0.25s ease;
	 	border: 5px solid transparent;
	    text-align: center;
	    z-index:1;
	    font-family: serif;
	    font-size: 30px;
	    font-weight:bold;
	    font-style:italic;
	    line-height:1.55em;
	 }

	.excerptInline {
		background: RGBa(255,255,0,0.15);
	}

	.excerpt:hover {
		background-color: rgb(126, 131, 139);
	}
	.excerpt:active {
		background: rgb(126, 131, 139);
	}

	input:checked ~ .responses {
		display:block;
		opacity:1;
		transition: 0.5s ease;
	}

	input:checked + .excerpt {
		display: none;
	}

	.responses {
		padding-top:20px;
		display:none;
		opacity:0;
		background:white;
		z-index:999;
		transition: 0.5s ease;
	}
